.app {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
  grid-template-rows: 80px 1fr;
  grid-template-columns: 270px 1fr;
  height: 100vh;
  font-family: SF Pro Display;

  &_sideBarNotActive {
    grid-template-columns: 120px 1fr;
  }

  &__header {
    grid-area: header;
    align-self: center;
  }

  &__sidebar {
    grid-area: sidebar;
    background-color: #333269;
    height: 100vh;
  }

  &__content {
    grid-area: content;
    background-color: #e5e5e5;
  }

  &_fetching {
    opacity: 0.2;
  }
}
