.link {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c0beff;
  padding-left: 27%;

  & > figure {
    margin: 0;
    margin-right: 10px;

    & > svg {
      fill: #c0beff;
    }
  }

  & > span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
  }

  &_active {
    color: #fff;

    & > span {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
    }

    & > figure {
      & > svg {
        fill: #fff;
      }
    }
  }
}
